<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>
            Blogi nimi
        </th>
        <th>
            Postituste arv blogis
        </th>
        <th>
            Autor
        </th>
        <th>
            Alates
        </th>
        <th>
            Jälgijaid
        </th>
        <th>
            Meeldimisi
        </th>
        <th>
            Kategooria
        </th>
        <th>
            Kirjeldus
        </th>
    </tr>
    </thead>
    <body>
<tr ng-repeat="blog in vm.blogs">
    <td>
        <a href= '#/blogview/{{blog.blogId}}' class="view-blog">
        {{blog.blogTitle}}
        </a>
    </td>
    <td>
        {{blog.blogId}}
    </td>
    <td>
        {{blog.applicationUserId}}
    </td>
    <td>
        {{blog.blogId}}
    </td>
    <td>
        {{blog.blogId}}
    </td>
    <td>
        {{blog.blogId}}
    </td>
    <td>
        {{blog.BlogCategoryName}}
    </td>
    <td>
        {{blog.blogDescription}}
    </td>
</tr>
    </body>
</table>
