<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{blog.blogTitle}}</title>
</head>
<body>
<div align="right">
    Autor: {{ blog.applicationUserId}}
<br><pre></pre>
<button type="telli">Telli</button><br>
<pre></pre>
<button type="like">Like</button>
</div>
<div>
    <h1>
        {{vm.blog.blogTitle}}
    </h1>

    <h3>
        {{vm.blog.blogDescription}}
    </h3>
</div>
<div>
    <table>
        <thead>
        <th>Blogposti pealkiri</th>
        <th>Blogiposti sisu</th>
        </thead>
        <tr ng-repeat="blogPost in vm.blogPosts">
            <td>
                <a href="#/blogs/{{blogPost.blogId}}/blogposts/{{blogPost.blogPostId}}">
                    {{blogPost.blogPostTitle}}
                </a>
            </td>
            <td>{{blogPost.blogPostContent}}</td>
        </tr>
    </table>
</div>

</body>
</html>