<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlogsInCategories</title>
</head>
<body>
<table>
  <h2> Blogid kategoorias: {{vm.category.blogCategoryName}}</h2>
    <table>
        <thead>
        <th>Blogpi pealkiri</th>
        <th>Blogi kirjeldus</th>
        </thead>
        <tr ng-repeat="blog in vm.blogs">
            <td>
               <a href="#/blog/{{blog.blogId}}"> {{blog.blogTitle}}</a>
            </td>
            <td>{{blog.blogDescription}}</td>
        </tr>
</table>
</body>
</html>