<pre></pre>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>
            Kategooria nimi
        </th>
        <th>
            Blogide arv
        </th>
    </tr>
    </thead>
    <body>
    <tr ng-repeat="category in vm.categories">
        <td>
            <a href= "#/categories/{{category.blogCategoryId}}/blogs">

            {{ category.blogCategoryName }}
            </a>
        </td>
        <td>
            {{ category.blogCategoryId }}
        </td>
    </tr>
    </body>
</table>