<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<form>
<h1>Blogi postituse pealkiri</h1>

<input id="blogPostTitle" name="blogPostTitle" ng-model="vm.blogPostTitle">
<br>

<h1>Sisu:</h1>

<textarea rows="20" cols="100" name="blogPostContent" ng-model="vm.blogPostContent">

</textarea><input type="submit" name="Esita" id="submit" ng-click="vm.submitData()">
</form>
<h1>Blogi Nimi</h1>
<select ng-model="vm.blogId" >
    <option disabled selected value> -- Vali Blogi kuhu soovid postitada -- </option>
    <option ng-repeat="blog in vm.blogs"
            value="{{ blog.blogId }}">{{ blog.blogTitle }}</option>
</select>
</body>
</html>