<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create blog post</title>
</head>
<body>
<form>
<h1>Blogi pealkiri</h1>

<input  id="blogTitle" name="blogTitle" ng-model="vm.blogTitle">
<br>

<h1>Blogi kirjeldus</h1>

    <textarea rows="10" cols="50" id="blogDescription" name="blogDescription" ng-model="vm.blogDescription">
<br>

</textarea>
    <br>
    <input type="submit" name="Esita" id="submit" ng-click="vm.submitData()">
</form>

    <h1>Blogi kategooria</h1>

    <select ng-model="vm.blogCategoryId" >
        <option disabled selected value> -- Vali kategooria -- </option>
        <option ng-repeat="category in vm.categories"
                value="{{ category.blogCategoryId }}">{{ category.blogCategoryName }}</option>
    </select>

</body>
</html>