<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create blog post</title>
</head>
<body>
<form>
<h1>Blogi pealkiri</h1>

<input ng-model="vm.blog.BlogTitle" id="blogTitle" name="blogTitle">
<br>

<h1>Blogi kirjeldus</h1>

<input id="blogDescription" name="blogDescription" ng-model="vm.blog.BlogDescription">
<br>
    <h1>Blogi kategooria</h1>

    <select>
        <option ng-repeat="category in vm.categories"
                value="{{ category.blogCategoryName }}">{{ category.blogCategoryName }}</option>
    </select>
</body>
</html>