<div class="container">
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" ng-model="Email" required>
<br>
    <pre></pre>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" ng-model="Password" required>
    <br>
    <pre></pre>
    <button ng-click="logUser()" type="submit">Login</button>
    <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <pre></pre>
    <a href="#/register">Registreeri</a>
</div>